[Unit]
Description=Verify integrity of password and group files

[Service]
Type=oneshot
ExecStart=/usr/sbin/pwck -r
ExecStart=/usr/sbin/grpck -r
ExecStart=/usr/sbin/pwconv
ExecStart=/usr/sbin/grpconv
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
